@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.footer {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: #342628;
  box-shadow: 1px 0px 20px 1px #342628;
  margin-top: 0px;
}

.footer > * {
  flex: 1 100%;
}

.footerAddress {
  margin-right: 1em;
  margin-bottom: 2em;
}

.footerLogo {
  font-family: Bebas Neue;
  font-weight: 500;
  font-size: 1.75rem;
}

.footerAddress h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.navTitle {
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}

.footer address {
  font-style: normal;
  color: whitesmoke;
}

.footerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #788402;
  border-radius: 100px;
  color: white;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  color: white;
}

.footer a {
  text-decoration: none;
}

.footerNav {
  display: flex;
  flex-flow: row wrap;
}

.footerNav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.navList a {
  color: white;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
}

.bottomMessage {
  display: flex;
  align-items: center;
}

.navList img {
  max-width: 75%;
  height: auto;
  text-align: right;
}

.heart {
  color: #feaa00;
}

@media screen and (min-width: 24.375em) {
  .bottom .bottomMessage {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footerNav > * {
    flex: 1;
  }

  .footerAddress {
    flex: 1 0px;
  }

  .footerNav {
    flex: 2 0px;
  }
}
